@model BlogSystem.Dto.ArticleDto

@{
    ViewBag.Title = "ArticleDetail";
}

<h2>ArticleDetail</h2>

<div>
    <h4>ArticleDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)@*Raw表示不转码*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>

        <dt>
            分类
        </dt>


        @foreach (var each in Model.CategoryNames)
        {
            <dd>
                @each
            </dd>
        }
    </dl>
</div>
<button onclick="btnGoodHandler(this)">赞成</button>
<button onclick="btnBadHandler(this)">反对</button>
<input type="text" id="comment" name="comment" />
<button onclick="btnAddComment(this)">添加评论</button>
<ul>
    @foreach (var each in ViewBag.comment)
    {
        <li>
            <span>@each.Comment</span>
            <br />
            <span>@each.Email @each.CreateTime</span>
        </li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "ArticleEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ArticleList")
</p>

@section headers {
    <script>
        var articleId = '@Model.Id'
        function btnGoodHandler(btn) {
            $.ajax({
                url: "/Article/GoodCountAdd/"+articleId,
                type: "post"
            }).done(() => {
                alert("点赞成功！");
                btn.disabled = true;
            })
        }
    function btnBadHandler(btn) {
        $.ajax({
            url: "/Article/BadCountAdd/" + articleId,
            type: "post"
        }).done(() => {
            alert("反对成功！");
            btn.disabled = true;
        })
    }
    function btnAddComment(btn) {
        $.ajax({
            url: "/Article/AddComment" ,
            type: "post",
             data: {
                ArticleId: articleId,
                Comment: document.getElementById("comment").value
            }
        }).done(() => {
            alert("评论成功");
            location.reload();
        })
    }
    </script>
}
