@model  PagedList<BlogSystem.Dto.ArticleDto>
@using Webdiyer.WebControls.Mvc;
<link rel="stylesheet" type="text/css" href="/Content/pagerstyles.css" />

@{
    ViewBag.Title = "ArticleList";
}

<h2>ArticleList</h2>

<p>
    @Html.ActionLink("Create New", "CreateArticle")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BadCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryNames)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ArticleEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "ArticleDetail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <nav>
                    @Html.Pager(Model, new PagerOptions
                    {
                        PageIndexParameterName = "pageIndex",
                        ContainerTagName = "ul",
                   CssClass = "pagination",
                        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                   DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                        PagerItemTemplate = "<li>{0}</li>",
                   Id = "bootstrappager"
                    })
                </nav>
            </td>
            
            @*

                <ul class="pagerList">
                    @if (ViewBag.totalPageCount <= 7)//显示7页
                    {
                        //总页码数小于等于页面显示的页码数
                        for (int i = 0; i < ViewBag.totalPageCount; i++)
                        {
                            if (i == ViewBag.pageIndex)
                            {
                                <li><a style="color:red" href="#">@(i + 1)</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/ArticleList?pageIndex=@i">@(i + 1)</a>
                                </li>
                            }

                        }
                    }
                    //总页码数大于页面显示的页码数
                    else if (ViewBag.pageIndex < 7 / 2 + 1)
                    {
                        for (int i = 1; i <= 7; i++)
                        {
                            if (i - 1 == ViewBag.pageIndex)
                            {
                                <li><a style="color:red" href="#">@i</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/ArticleList?pageIndex=@(i-1)">@(i)</a>
                                </li>
                            }

                        }
                    }
                    else if (ViewBag.pageIndex >= (ViewBag.totalPageCount - 7 / 2 - 1))
                    {
                        for (int i = ViewBag.totalPageCount - 6; i <= ViewBag.totalPageCount; i++)
                        {
                            if (i - 1 == ViewBag.pageIndex)
                            {
                                <li><a style="color:red" href="#">@i</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/ArticleList?pageIndex=@(i-1)">@(i)</a>
                                </li>
                            }

                        }
                    }
                    else
                    {
                        for (int i = ViewBag.pageIndex - 7 / 2 + 1; i <= ViewBag.pageIndex + 7 / 2 + 1; i++)
                        {
                            <span>aaa</span>
                            if (i - 1 == ViewBag.pageIndex)
                            {

                                <li><a style="color:red" href="#">@i</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Article/ArticleList?pageIndex=@(i-1)">@(i)</a>
                                </li>
                            }
                        }
                    }
                </ul>

            *@



        </tr>

    </tfoot>

</table>
